<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="public :: head">
</head>

<body>
<div class="cBody">
    <form class="layui-form" id="myform">
        <div class="layui-form-item">
            <label class="layui-form-label">原始密码</label>
            <div class="layui-input-inline shortInput">
                <input type="password" name="oldPassword" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline shortInput">
                <input type="password" name="newPassword" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-inline shortInput">
                <input type="password" name="password" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </form>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="submit" class="layui-btn" lay-submit lay-filter="submitBut">确认修改</button>
            <input class="layui-btn layui-btn-primary" onClick="history.go(-1)" value="返回" type="button">
        </div>
    </div>
    <script>
        $("#submit").on("click", function () {
            var data = $("#myform").serialize();
            console.log(data)
            $.ajax({
                "data": data,
                "type": "post",
                "dataType": 'json',
                "url": "[[@{/login/change}]]",
                "success": function (res) {
                    layer.msg(res.msg);
                    if (res.code == 200) {
                        setTimeout(function () {
                            top.location.href = "[[@{/login/loginOut}]]";
                            /*top.location.reload();*/
                        }, 100);
                    }
                },
                error: function (res) {
                    console.log(res);
                }

            });
        })
    </script>

</div>
</body>

</html>