<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="public :: head">
    <style>
        .layui-form-label {
            width: 100px;
        }
        .layui-input-block {
            margin-left: 130px;
        }
    </style>
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" th:action="@{/banner1/save}" method="post">
<!--        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="name" required autocomplete="off"
                       class="layui-input" th:value="${banner.name}">
                <input type="hidden" name="id" th:value="${banner.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">url</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="url" required autocomplete="off"
                       class="layui-input" th:value="${banner.url}">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-upload-drag" id="goodsPic">
                <input type="hidden" name="id" th:value="${banner.id}">
                <input name="img" type="hidden" id="image" th:value="${banner.img}"/>
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <img class="layui-upload-img" id="demo1" th:src="${banner.img}">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input class="layui-btn" value="保存" type="submit">
                    <input class="layui-btn layui-btn-primary" onClick="history.go(-1)" value="返回" type="button">
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['upload', 'form'], function () {
        var form = layui.form;
        var upload = layui.upload;
        //拖拽上传
        upload.render({
            elem: '#goodsPic',
            url: '[[@{/banner/insert}]]'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 200) {
                    return layer.msg('上传失败');
                } else {
                    $("#image").val(res.src);
                    return layer.msg('上传成功');
                }
            }
        });
    });
</script>
</body>

</html>