<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="public :: head">
    <style>
        .layui-form {
            margin-right: 30%;
        }
    </style>
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" action="/user/add" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">身份</label>
            <div class="layui-input-inline">
                <select name="roles" lay-verify="required" lay-search="">
                    <option th:each="p : ${roles}" th:text="${p.name}" th:value="${p.id}" >请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺</label>
            <div class="layui-input-inline">
                <select name="enters" lay-verify="required" lay-search="">
                    <option th:each="p : ${enters}" th:text="${p.storeName}" th:value="${p.id}" >请选择</option>
                    <option value="5">无</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="username" required autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline shortInput">
                <input type="password" name="password" required autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <!--        <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline shortInput">
                        <input type="password" name="password2" autocomplete="off" class="layui-input">
                    </div>
                </div>-->
        <!--        <div class="layui-form-item">
                    <label class="layui-form-label">是否开通</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="nan" title="启用" checked>
                        <input type="radio" name="sex" value="nv" title="禁用">
                    </div>
                </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>

    </script>

</div>
</body>

</html>