<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>追思网后台管理系统</title>
    
    <!-- 公共样式 开始 -->
    <link rel="shortcut icon" th:href="@{/images/login.png}"/>
    <link rel="bookmark" th:href="@{/images/favicon-20200218085212863.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}">
    <script type="text/javascript" th:src="@{/framework/jquery-1.11.3.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <!-- 公共样式 结束 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/login1.css}">
    <script type="text/javascript" th:src="@{/js/login1.js}"></script>

    <!-- 公共样式 结束 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/frameStyle.css}">
    <script type="text/javascript" th:src="@{/framework/frame.js}" ></script>


    <script th:src="@{/framework/html5shiv.min.js}"></script>
    <script th:src="@{/framework/respond.min.js}"></script>

    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mCustomScrollbar.css}">
    <script th:src="@{/framework/jquery-ui-1.10.4.min.js}"></script>
    <script th:src="@{/framework/jquery.mousewheel.min.js}"></script>
    <script th:src="@{/framework/jquery.mCustomScrollbar.min.js}"></script>
    <script th:src="@{/framework/cframe.js}"></script><!-- 仅供所有子页面使用 -->

    <!--富文本-->
</head>
<body>

</body>
</html>