<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="public :: head">
    <style>
        .layui-form {
            margin-right: 30%;
        }
    </style>
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" action="/coupon/save" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">优惠券金额</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="price" required autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">满减</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="fullPrice" required autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">有效期</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="period" required autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <!--        <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline shortInput">
                        <input type="password" name="password2" autocomplete="off" class="layui-input">
                    </div>
                </div>-->
        <!--        <div class="layui-form-item">
                    <label class="layui-form-label">是否开通</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="nan" title="启用" checked>
                        <input type="radio" name="sex" value="nv" title="禁用">
                    </div>
                </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>

    </script>

</div>
</body>

</html>