<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="public :: head">
    <style>
        .layui-form {
            margin-right: 30%;
        }
    </style>
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" th:action="@{/details/save}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="title" required autocomplete="off"
                       class="layui-input" th:value="${details.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-upload-drag" id="goodsPic">
                <input type="hidden" name="id" th:value="${details.id}">
                <input name="img" type="hidden" id="image" th:value="${details.img}"/>
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <img class="layui-upload-img" id="demo1" th:src="${details.img}" style="max-width: 196px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否置顶</label>
            <div class="layui-input-block">
                <input type="radio" name="state" value="1" th:checked="@{(${details.state == '1'}? 'true' : 'false')}"
                       title="置顶">
                <input type="radio" name="state" value="0" th:checked="@{(${details.state == '1'}? 'false' : 'true')}"
                       title="不置顶">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="text" th:text="${details.text}"
                          style="width: 850px;height: 300px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
                <input class="layui-btn layui-btn-primary" onClick="history.go(-1)" value="返回" type="button">
            </div>
        </div>
    </form>

</div>
</body>
<script>
    layui.use(['upload', 'form'], function () {
        var form = layui.form;
        var upload = layui.upload;
        //拖拽上传
        upload.render({
            elem: '#goodsPic',
            url: '[[@{/banner/insert}]]'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 200) {
                    return layer.msg('上传失败');
                } else {
                    $("#image").val(res.src);
                    return layer.msg('上传成功');
                }
            }
        });
    });
</script>

</html>