<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="public :: head">
    <style>
        .layui-form {
            margin-right: 30%;
        }
    </style>
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" th:action="@{/ancestral/template/save}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="title" required autocomplete="off"
                       class="layui-input" th:value="${template.title}">
                <input type="hidden" name="id" th:value="${template.id}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="text" th:text="${template.text}"
                          style="width: 850px;height: 300px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
                <input class="layui-btn layui-btn-primary" onClick="history.go(-1)" value="返回" type="button">
            </div>
        </div>
    </form>

</div>
</body>
</html>